{% extends "base.html" %}
{% block styles %}
{{ super() }}
<style>
  #interestedIn > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
</style>
{% endblock %}
{% block title %}Daniel Naylor's Website{% endblock %}
{% block content %}
<p>My name is Daniel Naylor.</p>

<p>This is the homepage of my website!</p>

<p>You might be interested in:</p>
<ul id="interestedIn">
  <li><a href="{{ url_for("notes_home") }}">My notes and flashcards on Cambridge maths courses.</a></li>
</ul>
{% endblock %}
