{% extends "base.html" %}
{% from 'bootstrap4/utils.html' import render_icon %}

{% block navbar %}
  {% include "navbar.html" %}
  {% if include_navigation %}
    <ul class="pagination justify-content-center w-100 mt-2 mb-2">
      <li class="page-item{% if not has_previous %} disabled{% endif %}">
        {% if has_previous %}
          <a class="page-link" href="{{ previous_link }}" tabindex="-1">Previous</a>
        {% else %}
          <a class="page-link" tabindex="-1">Previous</a>
        {% endif %}
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ course_code }}.html">Contents</a>
      </li>
      <li class="page-item{% if not has_next %} disabled{% endif %}">
        {% if has_next %}
          <a class="page-link" href="{{ next_link }}" tabindex="-1">Next</a>
        {% else %}
          <a class="page-link" tabindex="-1">Next</a>
        {% endif %}
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block scrollpadding %}
  html {
    scroll-padding-top: 8.375rem;
  }
{% endblock %}

{% block styles %}
{{ super() }}
<style>
[data-bs-theme="dark"] {
  img[src^="{{ course_code }}"] {
    filter: invert(1) hue-rotate(180deg);
  }
  img[alt="PIC"] {
    filter: invert(1) hue-rotate(180deg);
  }
}
[display="true"].MathJax {
  overflow-x: auto;
}
.paginated-make4ht {
  font-family: "Computer Modern Serif", serif;
  text-align: justify;
}
@media (max-width: 767px) {
  span.ec-lmbx-12x-x-316 {
    font-size: 2.5rem !important;
  }
}
.subsectionHead {
  margin-top: 1em;
}
</style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block headextra %}{{ head|safe }}{% endblock %}

{% block content %}
<div class="paginated-make4ht">
  {{ content|safe }}
</div>
{% endblock %}
