{% extends "base.html" %}
{% block styles %}
{{ super() }}
<style>
  .notes-button-padding {
    padding-left: calc(2rem) !important;
  }
  .btn-primary.disabled {
    color: #AAAAAA;
    background-color: #FFFFFF;
    border: var(--bs-btn-border-width) solid #AAAAAA;
  }
  .custom-shadow {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .btn {
    font-weight: bold;
  }
  @media (min-width: 768px) {
    .notes-button {
      padding-right: 0.375rem !important;
    }
    .flashcards-button {
      padding-left: 0.375rem !important;
    }
  }
</style>
{% endblock %}
{% block title %}Daniel's Cambridge Maths Notes{% endblock %}

{% block content %}
  <div class="container-lg">
    <h1 class="text-center">Maths Notes</h1>
    {% for term in terms %}
      <h2 class="text-center pt-3">{{ term.part.part_name }} {{ term.term_name }}</h2>
      <div class="row px-1 px-md-3">
        {% for course in term.get_courses() %}
        <div class="col-6 col-xxl-3 px-2 px-md-3 py-2">
          <div class="mx-0 px-1 pb-2 pt-2 rounded-3 rounded-sm-4 grid row custom-shadow h-100 d-flex flex-column">
            <div class="text-center col-12 flex-fill d-flex align-items-center pb-1">
              <h6 class="m-auto">{{ course.course_name }}</h6>
            </div>

            <div class="row m-0 p-1">
              <div class="btn-group col-12 col-md-6 pb-2 pb-md-0 px-1 notes-button" style="position: relative">
                {% if course.notes_exist %}
                  <a type="button" class="btn btn-primary {% if course.html_exists %} notes-button-padding {% endif %} p-1" href="{{ course.pdf_url() }}">
                    Notes
                  </a>
                {% else %}
                  <span type="button" class="btn btn-primary {% if course.html_exists %} notes-button-padding {% endif %} disabled p-1">
                    Notes
                  </span>
                {% endif %}
                {% if course.html_exists %}
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split p-1" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 2rem;">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      {% if course.notes_exist %}
                        <a class="dropdown-item" href="{{ course.pdf_url()}}">PDF</a>
                      {% else %}
                        <span class="dropdown-item disabled">PDF</span>
                      {% endif %}
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      {% if course.html_exists %}
                        <a class="dropdown-item" href="{{ course.html_url()}}">HTML</a>
                      {% else %}
                        <span class="dropdown-item disabled">HTML</span>
                      {% endif %}
                    </li>
                    <li>
                      {% if course.epub_exists %}
                        <a class="dropdown-item" href="{{ course.epub_url()}}">EPUB</a>
                      {% else %}
                        <span class="dropdown-item disabled">EPUB</span>
                      {% endif %}
                    </li>
                  </ul>
                {% endif %}
              </div>

              <div class="btn-group col-12 col-md-6 px-1 flashcards-button">
                <a type="button" class="btn btn-primary p-1{% if not course.flashcards_exist %} disabled{% endif %}"{% if course.flashcards_exist %} href="{{ course.flashcards_url() }}"{% endif %}>Flashcards</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
