{% extends "base.html" %}
{% block styles %}
{{ super() }}
<style>
  :root {
    --flashcards-disabled-outline: var(--light-gray);
    --flashcards-disabled-bg: white;
    --active-gray: var(--extra-light-gray);
  }
  [data-bs-theme="dark"] {
    --flashcards-disabled-outline: var(--bs-gray);
    --flashcards-disabled-bg: var(--bs-tertiary-bg)
    --active-gray: var(--bs-gray);
  }
  .notes-button-padding {
    padding-left: calc(2rem) !important;
  }
  .btn-primary.disabled {
    color: var(--flashcards-disabled-outline);
    background-color: var(--flashcards-disabled-bg);
    border: var(--bs-btn-border-width) solid var(--flashcards-disabled-outline);
  }
  .custom-shadow {
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  @media (min-width: 768px) {
    .notes-button {
      padding-right: 0.375rem !important;
    }
    .flashcards-button {
      padding-left: 0.375rem !important;
    }
  }
  .active-grey:active {
    background-color: var(--active-gray);
    color: var(--bs-primary-color);
  }
  @media (max-width: 767px) {
    span.ec-lmbx-12x-x-316 {
      font-size: 2.5rem;
    }
  }
</style>
{% endblock %}
{% block title %}Daniel's Cambridge Maths Notes{% endblock %}

{% block content %}
  <h1 class="text-center fw-bold">Maths Notes</h1>
  {% for term in terms %}
    <h2 class="text-center pt-3 fw-bold">{{ term.part.part_name }} {{ term.term_name }}</h2>
    <div class="row px-1 px-md-3">
      {% for course in term.get_courses() %}
      <div class="col-6 col-xxl-3 px-2 px-md-3 py-2">
        <div class="mx-0 px-1 pb-2 pt-2 rounded-3 rounded-sm-4 grid row custom-shadow h-100 d-flex flex-column">
          <div class="text-center col-12 flex-fill d-flex align-items-center pb-1">
            <h6 class="m-auto fw-bold">{{ course.course_name }}</h6>
          </div>

          <div class="row m-0 p-1">
            <div class="btn-group dropdown col-12 col-md-6 pb-2 pb-md-0 px-1 notes-button">
              <button type="button" class="fw-bold btn btn-primary dropdown-toggle px-1 py-0 py-md-1" data-bs-toggle="dropdown" aria-expanded="false">
                Notes
              </button>
              <div class="dropdown-menu">
                <a {% if course.notes_exist %}class="dropdown-item active-grey" href="{{ course.pdf_url() }}"{% else %}class="dropdown-item active-grey disabled"{% endif %}>PDF</a>
                <a {% if course.html_exists %}class="dropdown-item active-grey" href="{{ course.html_url() }}"{% else %}class="dropdown-item active-grey disabled"{% endif %}>HTML</a>
              </div>
            </div>

            <div class="btn-group col-12 col-md-6 px-1 flashcards-button">
              <a type="button" class="fw-bold btn btn-primary px-1 py-0 py-md-1{% if not course.flashcards_exist %} disabled{% endif %}"{% if course.flashcards_exist %} href="{{ course.flashcards_url() }}"{% endif %}>Flashcards</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
